.row{
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px ;
    margin:0.5rem;
    display: flex;
    align-content: center;
    text-align: center;
   
}

.card{
    background: linear-gradient(90deg, #7928ca 0%, rgba(255,0,128,1) 100%);
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.card.body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}